*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.mobile-bg {
    
    display: none;
}
.input-field {
    border: 0px 0px 2px 0px #3b810d;
}
@media (min-width: 1024px) { 
    .mobile-bg {
        background: url(../assets/png/BgImage.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}