*{
    margin: 0;
    padding: 0;
}

body {
    background: url(../assets/png/BgImage.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.input-field {
    border: 0px 0px 2px 0px #3b810d;
}